.navbar {
    max-width: 1296px;
    margin: 0px auto;
    padding-block: 20px;
}
.nav-list {
    padding: 16px 18px 16px 32px;
}
.navbar-item {position: relative;}
.navbar-item:hover:not(:last-child):after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    position: absolute;
    left: 0px;
    bottom: -5px;
}
.navbar-item:last-of-type{
    width: 127px;
    height: 48px;
    display: flex;
    place-items: center;
    padding: 12px 24px;
    background-color: #F4FA00;
    border-radius: 30px;
    color: #000000;
}
.navbar-item:last-of-type:hover {
    font-size: 14px;
    box-shadow: 1px 2px 35px #F4FA00;
}

@media screen and (max-width: 350px) {
    .input-conts {
        gap: 20px;
        display: flex;
        flex-wrap: wrap;
        padding-block: 20px;
        padding-inline: 15px !important;
    }
}